{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

</style>

{% if request.user.is_authenticated %}

<h2 class="already-registered-message">You are already registered</h2>

{% else %}

<div id="snackbar">Username is already taken</div>

<div class="container signup_main_div">
  <h1>Sign Up</h1>
  {% for field in form %}
  {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
  {% endfor %}
  {% endfor %}
  <div class="form-sign-up">
    <form method="POST">
      {% csrf_token %}
      
      {{form.as_p}}
      
      <input type="checkbox" id="myCheck" name="test" required>
      By clicking signup below I agree to PreciousLyfe's <a href=" {% url 'terms' %} ">Terms and condition, </a><a href="{% url 'privacy' %}">Privacy Policy</a>
      and <a href=" {% url 'cookie' %} ">Cookie Policy</a>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <div class="g-recaptcha" data-sitekey="6Lc7-cAZAAAAAAemZim-De9qA-VbZLfA8eAJHYe1"></div>
      <input type="submit" value="Sign Up" class="signup-button">
    </form>  
  </div>

  <script>

    function myFunction() {
      var x = document.getElementById("myCheck").required;
      document.getElementById("demo").innerHTML = x;
    }

    $('#id_username').change(function(){
      var username = $(this).val();
      console.log(username);
      $.ajax({
        url:'{% url "accounts:check_username" %}',
        data: {
          'username':username
        },
        dataType:'json',
        success:function(response){
          if(response.is_taken){
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
          }
        },
        error:function(e, rs){

        },

      });
    });
    </script>
</div>

{% endif %}

{% endblock %}