.welcome{
  font-size: 35px;
}
html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  padding-top: 70px;
  height: 100%;
  margin: 0 0 55px 0;
}

.already-registered-message{
  color: blue;
}

::-moz-selection { /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection{
  color: red;
  background: yellow;
}


/* sign up form designing */
.signup_main_div{
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 8% auto 0;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 10px;
}

.signup_main_div h1{
  color: #1c8abd;
  margin-bottom: 30px;
}

.myfieldclass{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}

.signup-button{
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #1c8abd;
}

@media (max-width: 500px){
  .signup_main_div{
    width: 100%;
  }
  footer{
    position: relative;
    background: #333333;
    height: 600px;
    margin-top: -600px;
    clear: both;
  }
  .mycontent{
    overflow: auto;
    padding-bottom: 600px;
  }
}

.dropdown-menu-right li a{
  text-decoration: none;
  margin-left: 5px;
}

.navbar-right li a{
  text-decoration: none;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.main_conatiner_base{
  min-height: 100%;
}

.mycontent{
  overflow: auto;
  padding-bottom: 300px;
}

footer{
  position: relative;
  background: #333333;
  height: 300px;
  margin-top: -300px;
  clear: both;
}


.headings{
  color: white;
  
}

.link-list li{
  list-style: none;
  color: #7c7f85;
}

.link-list li a{

  color: #7c7f85;
}

.headings img{
  margin-top: 10px;
  width: 200px;
  height: 90px;
}

.navbar-brand img{
  height: 30px;
  width: 100px;
}

.nav-bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #95ad9e;
  display: flex;
  overflow-x: auto;
  z-index: 99;
}

.nav__link{
  display: flex;
  flex-grow: 1;
  min-width: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  text-decoration: none;
  color: #444444;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}


.nav__link:hover{
  background-color: #9eada4;
  text-decoration: none;
  color: #444444;
}

.active{
  color: red;
  
}

.bottom-sheet{
  max-height: 100% !important;
}

.bottom-sheet .modal.content{
  width: 60%; 
  margin: 0px auto
}

.post__modal_icon{
  color: black;
}

.post__modal_icon:hover{
  text-decoration: none;
}

.fa-circle{
  margin-left: 10px;
  font-size: 10px !important;
  color: red;
}

@media(min-width: 800px){
  .nav-bottom{
    display: none;
  }
}