{% load static %}
{% load hitcount_tags %}
<div class="blog_detail_feed">
    <section class="title_section">
        <h4> {{blogpost.blog_title}} </h4>
    </section>
    <div class="profile_image_save_blog_div">
        <div class="profile_image_div">
            <a href=" {% url 'accounts:profile_detail' pk=blogpost.author.userprofileinfo.pk %} ">
                {% if blogpost.author.userprofileinfo.profile_pic_user %}
                <img class="profile_image" src=" {{blogpost.author.userprofileinfo.profile_pic_user.url}} " alt="">
                {% else %}
                <img class="profile_image" src="{% static 'preciousLife/images/default_profile_pic.png' %}" alt="">
                {% endif %}
            </a>
            <div class="username_date_div">
                <p> {{blogpost.author.username}} </p>
                <p class="date"> {{blogpost.published_date}} </p>
            </div>
            <div class="action_icons">
                <div class="like_image" id="like-section">
                    {% include 'blog/_like_snippet_blog_.html' %}
                </div>
                <div class="like_image" id="save-section" style="margin-left: 5px;">
                    {% include 'blog/_save_blog_feed_.html' %}
                </div>
                <br>
                <div class="like_image" id="like-section">
                    {% if request.user == blogpost.author %}
                    {% include 'blog/_delete_blog_modal_.html' %}
                    {% endif %}
                </div>

            </div> 
        </div>
    </div>

    <div class="image_div">
        {% if blogpost.header_image %}
            <img src="{{blogpost.header_image.url}}" alt="">
        {% else %}
            <img src="https://images.pexels.com/photos/636243/pexels-photo-636243.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        {% endif %}
    </div>

    <div class="description_div" style="margin-top: 10px;">
        <span> {{blogpost.blog_description|safe}} </span>
    </div>
    <h4><strong>Comments</strong></h4>
    <div class="include_comment">
        {% include 'blog/_comment_feed_.html' %}
    </div>
    <form method="POST" style="margin-bottom: 10px;">
        {% csrf_token %}
        {{comment_form.as_p}}
        <input type="submit" value="Post a comment" class="comment_post_btn">
    </form>
</div>