{% extends 'base2.html' %}
{% load static %}
{% block content %}


<style>

    .profile_image{
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        margin-left: 40%;
    }

    .view_reply_div{
        display: flex;
    }

    .views_reply{
        margin-left: 10px;
        font-size: 12px;
        color: #7c7f85;
        line-height: 15px;
        padding: 8px;
        margin-top: 10px;
        font-family: "Open Sans", Arial, sans-serif;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        border-radius: 2px;
    }
    
    .content_div{
        display: flex;
    }

    .image_div{
        margin-left: auto;
    }

    .text_div .title{
        text-decoration: none;
        color: #212529;
    }

    .text_div .timestamp{
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 13px;
        line-height: 22px;
        color: #212529;
    }

    .text_div .username{
        font-size: 15px;
        line-height: 20px;
        color: #2d6ff7;
    }

    .text_div a{
        font-size: 15px;
        line-height: 20px;
        color: #2d6ff7;
        text-decoration: none;
    }

    .views_like_comment i{
        padding-left: 15px;
        color: #7c7f85;
        font-size: 13px;
        line-height: 15px;
        
    }
    
    img {
        width: 150px;
        height: 150px;
        /* margin-left: 50px; */
    }

    .tag_list{
        list-style-type: none;
        overflow: hidden;
    }

    .tag_list_items{
        line-height: 30px;
    }

    .text_div .tag_list li {
        float: left;
        padding: 0 2px;
        margin-top: 5px;
    }

    .tag_list_items a{
        padding: 2px 0;
        border: 1px solid #d1d4cf;
        border-radius: 2px;
        font-size: 11px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 20px;
    }

    .tag_list_items a{
        text-decoration: none;
        color: #7c7f85;
    }

    .tag_list_items a:hover{
        background-color: #2d6ff7;
        color: white;
        border-radius: 2px;
        border: 1px solid #2d6ff7;
        border-radius: 2px;
    }

    .popular_question{
        margin-top: 10px;
        margin-left: -10px;
        background: white;
    }

    .image_title_div{
        margin-left: 10px;
        margin-right: 5px;
        font-size: 14px;
        display: flex;
    }

    .image_title_div p{
        color: #272930;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 22px;
        margin-left: 10px;
    }
    .profile_image_popular{
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
    }

    /* popular_feed styling */
    .trending_tags{
       margin-left: -10px;
       background-color: white;
    }
    .trending_heading{
        margin-left: 10px;
    }

    .tags_name{
        margin-left: 10px;
        padding: 10px;
    }

    .tags_name li{
        list-style: none;
        display: inline;
    }

    .tags_name li a {
        font-size: 11px;
        color: #7c7f85;
        text-decoration: none;
        padding: 4px;
        border: 1px solid #7c7f85;
        border-radius: 2px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 30px;
    }
    .tags_name li a:hover {
        font-size: 11px;
        color: white;
        text-decoration: none;
        padding: 4px;
        border: 1px solid #2d6ff7;
        background: #2d6ff7;
        border-radius: 2px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 30px;
    }

    .answer_count_popular_div p{
        margin-left: 30px;
        margin-top: -10px;
    }

    @media(max-width: 500px){
        .text_div h4{
        font-size: 14px;
        line-height: 20px;
        }

        img {
        width: 100px;
        height: 100px;
        /* margin-left: 50px; */
        }
    }
</style>

<div class="main_container">
    
    <div class="container blog_main_div">
        <div class="row">
            <div class="col-xl-2 col-lg-3 d-md-none d-lg-none d-lg-block user_specific_nav related_question">

            </div>

            <div class="col-xl-7 col-lg-6 col-md-9 shadow p-3 mb-5 bg-white">
                {% include 'blog/_feed_list_blog_.html' %}
                                
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 popular_feed">
                <div class="trending_tags">
                    <div class="trending_heading">
                        <p><i class="fa fa-tags"></i> Trending Tags</p>
                    </div>
                    <div class="tags_name"> 
                        {% for tags in popular_tags %}   
                        <li><a href="{% url 'blog:blog_tag' tags.slug %}">{{tags}}</a></li>
                        {% endfor %}
                    </div>
                </div>
                <div class="popular_question">
                    <div class="trending_heading">
                        <p>Popular Blogs</p>
                    </div>
                    <div class="popular_questions_feed">
                    {% for trends in trending_blog %}
                        <div class="image_title_div">
                            <div class="popular_profile_image">
                                <a href=" {% url 'accounts:profile_detail' pk=trends.author.userprofileinfo.pk %} ">
                                {% if trends.author.userprofileinfo.profile_pic %}
                                <img class="profile_image_popular" src=" {{trends.author.userprofileinfo.profile_pic.url}} " alt="">
                                {% else %}
                                <img class="profile_image_popular" src="https://static1.squarespace.com/static/54b7b93ce4b0a3e130d5d232/54e20ebce4b014cdbc3fd71b/5a992947e2c48320418ae5e0/1519987239570/icon.png?format=1500w" alt="">
                                {% endif %}
                                </a>
                            </div>
                            <a href="{% url 'blog:blog_detail' slug=trends.slug %}"><p> {{trends.blog_title}} </p></a>
                        </div>
                        <div class="answer_count_popular_div">
                            <p class="views_reply"><i class="fa fa-heart" aria-hidden="true">  {{trends.likes.count}}</i> </p>
                        </div>
                        <hr>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // #####################################
    // LAZY LOAD IMAGES, USING THE LIBRARIES
    // #####################################

    let images = document.querySelectorAll('img');
    new LazyLoad(images, {
        root: null,
        rootMargin: '-60px',
        threshold: 0.5
    });
    



</script>
{% endblock %}
{% block title %}Best Inspirational Blog{% endblock %}
