<div class="answer_feed">
    {% if question.answer_set.all %}
    {% for answers in question.answer_set.all %}
    
    <div class="profile_username_title_div">
        <div class="profile_username_div">
            <a href=" {% url 'accounts:profile_detail' pk=answers.user.userprofileinfo.pk %} ">
                {% if answers.user.userprofileinfo.profile_pic %}
                <img class="profile_image" src=" {{answers.user.userprofileinfo.profile_pic.url}} " alt="">
                {% else %}
                <img class="profile_image" src="https://static1.squarespace.com/static/54b7b93ce4b0a3e130d5d232/54e20ebce4b014cdbc3fd71b/5a992947e2c48320418ae5e0/1519987239570/icon.png?format=1500w" alt="">
                {% endif %}
            </a>
            <p class="username">@{{answers.user.username}}</p>
            
            <div class="dropdown_menu_icon">
                <div class="dropdown">
                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        {% if answers.user == request.user %}
                            <a class="dropdown-item" href=" {% url 'questions_answer:qa_answer_update' pk=answers.pk %} ">Edit</a>
                            <a class="dropdown-item" href=" {% url 'questions_answer:qa_answer_delete' pk=answers.pk %} ">Delete</a>
                            
                        {% else %}
                            <a class="dropdown-item" href="#">Report</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="answer_published_div">
        <p class="date_answer">Answer added on: {{answers.published_at}}</p>
    </div>

    <div class="discription_div_answer">
        <span class="description">{{ answers.answer_description|safe|linebreaks|urlizetrunc:35}}</span>
             
    </div>

    <hr>
    <br>
    
    {% endfor %}
    {% else %}
    <p>No answers yet</p>
    {% endif %}
</div>
