{% load hitcount_tags %}
<div class="question_list_feed" id="question_list_feeds">
    {% for questions in questions %}

    <div class="profile_username_title_div">

         <div class="profile_username_div">
            <a href=" {% url 'accounts:profile_detail' pk=questions.user.userprofileinfo.pk %} ">
                {% if questions.user.userprofileinfo.profile_pic %}
                <img class="profile_image" src=" {{questions.user.userprofileinfo.profile_pic.url}} " alt="">
                {% else %}
                <img class="profile_image" src="https://static1.squarespace.com/static/54b7b93ce4b0a3e130d5d232/54e20ebce4b014cdbc3fd71b/5a992947e2c48320418ae5e0/1519987239570/icon.png?format=1500w" alt="">
                {% endif %}
            </a>
            <p class="username">@{{questions.user.username}}</p>
            <p class="date">Asked: {{questions.published_date}}</p>
    </div>

    <div class="title_div">
        <p><a href="{% url 'questions_answer:question_detail' slug=questions.slug %}"> {{questions.title}} </a></p>
    </div>

    <div class="discription_div">
        <span class="description">{{questions.description|urlizetrunc:35|linebreaks|truncatewords:30}}</span>
        <div class="question_images_fields">
            {% if questions.image_first %}
                <img class="first-image" id="image1" data-src="{{questions.image_first.url}}" alt="">
            {% endif %}

            {% if questions.image_second %}
            <img class="first-image" id="image2" data-src="{{questions.image_second.url}}" alt="">
            {% endif %}

            {% if questions.image_third %}
            <img class="first-image" id="image3" data-src="{{questions.image_third.url}}" alt="">
            {% endif %}
        </div>
        
    </div>

    <div class="tag_div">
        <ul class="tag_list">
            {% for tag in questions.tags.all %}
            <li class="tag_list_items">
                <a href=" {% url 'questions_answer:qa_tag' tag.slug %} ">{{tag}}</a>
            </li>
            {% endfor %}
        </ul>
      
    </div>

        <div class="views_reply_div">
            <p class="views_reply"><i class="fa fa-envelope" aria-hidden="true"></i>    {{questions.answer_set.count}} Answer{{questions.answer_set.count|pluralize}}</p>                     
       
            <p class="views_reply"><i class="fa fa-eye" aria-hidden="true"></i>    {% get_hit_count for questions %} Views</p>                         
        
            <a class="views_reply views_reply_anchor" href="#">Answer</a>
        
        </div>
    </div>
    <br>
    <hr>
    {% endfor %}
    <div class="pagination_class">
        {% if is_paginated  %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}"><i class="fa fa-chevron-left"></i></a>
                    {% endif %}

                    <span class="page-current">
                        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
</div>