{% load static %}
{% load hitcount_tags %}
{% load thumbnail %}
<div class="question_list_feed">

    <div class="profile_username_title_div">

        <div class="profile_username_div">
            
            <a href=" {% url 'accounts:profile_detail' pk=question.user.userprofileinfo.pk %} ">
                {% if question.user.userprofileinfo.profile_pic_user %}
                <img class="profile_image" src=" {{question.user.userprofileinfo.profile_pic_user.url}} " alt="">
                {% else %}
                <img class="profile_image" src="{% static 'preciousLife/images/default_profile_pic.png' %}" alt="">
                {% endif %}
            </a>
            <p class="username">@{{question.user.username}}</p>
            <p class="date">Asked: {{question.published_date}}</p>
            
        </div>
    </div>

    <div class="title_div">
        <a href="{% url 'questions_answer:question_detail' slug=question.slug %}"><p class="title"> {{question.title}} </p></a>
    </div>

    <div class="like_image" id="like-section">
        {% include 'question_answer/_like_snippet.html' %}
    </div>

    <div class="discription_div">
        <span class="description">{{ question.description|urlizetrunc:35|linebreaks}}</span>
        <div class="question_images_fields">
            {% if question.image_first %}
                <img class="first-image" data-src="{% thumbnail question.image_first '720' as im %}{{im.url}}{% endthumbnail %} " alt=" {{question.title}} ">
            {% endif %}

            {% if question.image_second %}
            <img class="first-image" data-src="{% thumbnail question.image_second '720' as im %}{{im.url}}{% endthumbnail %} " alt=" {{question.title}} ">
            {% endif %}

            {% if question.image_third %}
            <img class="first-image" data-src="{% thumbnail question.image_third '720' as im %}{{im.url}}{% endthumbnail %} " alt=" {{question.title}} ">
            {% endif %}
        </div>
        
    </div>

    <div class="tag_div">
        <ul class="tag_list">
            {% for tag in question.tags.all %}
            <li class="tag_list_items">
                <a href=" {% url 'questions_answer:qa_tag' tag.slug %} ">{{tag}}</a>
                
            </li>
            {% endfor %}
        </ul>
      
    </div>
    <div>
        <div class="views_reply_div">
            <p class="views_reply"><i class="fa fa-envelope" aria-hidden="true"></i>    {{question.answer_set.count}} Answer{{question.answer_set.count|pluralize}}</p>                     
       
            <p class="views_reply"><i class="fa fa-eye" aria-hidden="true"></i>    {{ hitcount.total_hits }} Views</p>
        
            <a class="views_reply views_reply_anchor" href="{% url 'questions_answer:answer' pk=question.pk %}">Answer</a>
        
        </div>
    </div>

    <br>
    <hr>
    <div class="report_div">
        <a href="{% url 'questions_answer:qa_report_question' pk=question.pk %}" data-toggle='tooltip' data-placement="bottom" title="Report user"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> report</a>
        {% if request.user == question.user %}
        {% include 'question_answer/_delete_question_modal_.html' %}
        {% endif %}
    </div>
    <hr>
    Answers
</div>

