
<div class="like_form_counts">
    <form method="POST"  action=" {% url 'questions_answer:likes' question.slug %} ">
        {% csrf_token %}
        {% if request.user in question.likes.all %}
            <button class="views_reply dislike" id="like" type="submit" name="question_id" value="{{ question.id }}"><i class="fa fa-heart"></i></button>
        {% else %}
            <button class="views_reply dislike" id="like" type="submit" name="question_id" value="{{ question.id }}"><i class="fa fa-heart-o"></i></button>
        {% endif %}
    </form>
    <p> {{total_likes}} Like{{total_likes|pluralize}}</p>
</div>


