{% extends 'base.html' %}
{% load static %}
{% load notifications_tags %}
{% load hitcount_tags %}

{% block content %}

<style>
    .profile_image{
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
    }

    .profile_username_div{
        display: flex;
    }
    .title_div{
        margin-left: 60px;
        margin-top: -20px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 22px;
        font-size: 19px;
    }

    .username {
        margin-left: 10px;
        line-height: 22px;
        letter-spacing: 0.8px;
        font-size: 14px;
    }

    .date{
        margin-left: 10px;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
    }
    .discription_div{
        margin-top: -70px;
        margin-left: 60px;        
    }
    .discription_div span{
        color: #707885;
        font-size: 14px;
        line-height: 24px;
        text-align: start;
    }

    .discription_div_answer{
        margin-left: 60px; 
    }

    .discription_div_answer span{
        color: #707885;
        font-size: 14px;
        line-height: 24px;
        text-align: start;
    }

    /* .carousel-inner{
        width: 200px !important;
    } */

    .question_images{
        width: 400px;
        height: 200px;
    }

    .tag_div{
        margin-left: 10px;
        margin-top: 5px;
    }

    .tag_list{
        list-style-type: none;
        overflow: hidden;
    }

    .tag_list_items{
        float: left;
        font-size: 11px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 22px;
        color: #7c7f85;
        margin-left: 10px;
        
    }
    .tag_list_items a{
        padding: 2px;
        border: 1px solid #d1d4cf;
        border-radius: 2px;
    }

    .tag_list_items a{
        text-decoration: none;
        color: #7c7f85;
    }

    .tag_list_items a:hover{
        background-color: #2d6ff7;
        color: white;
        border-radius: 2px;
        border: 1px solid #2d6ff7;
        border-radius: 2px;
    }

    .views_reply_div{
        display: flex;
        margin-left: 50px;
        background-color: #f5f5f5;
    }
    .views_reply{
        margin-left: 10px;
        font-size: 12px;
        color: #7c7f85;
        line-height: 15px;
        padding: 8px;
        margin-top: 10px;
        font-family: "Open Sans", Arial, sans-serif;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        border-radius: 2px;
    }

    .views_reply_anchor{
        font-family: Roboto, Arial, sans-serif;
        margin-right: 10px;
        font-size: 14px;
        line-height: 15px;
        padding: 8px;
        letter-spacing: 0.8px;
        border: 1px solid #272930;
        background-color: #272930;
        border-radius: 2px;
        color: white;
        margin-left: auto;
        margin-bottom: 10px;
    }

    .views_reply_anchor:hover{
        background-color: #2d6ff7;
        text-decoration: none;
        color: white;
        border: 1px solid #2d6ff7;
        border-radius: 2px;
    }

    .report_div{
        font-size: 12px;
        font-family: Roboto, Arial, sans-serif;
        display: flex;
    }

    .report_div a{
        color: #464e5b;
        line-height: 15px;
    }

    /* answer block styling */
    .date_answer{
        margin-left: 60px;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        margin-top: -30px;
        color: #677075;
    }

    .discription_div_answer{
        width: 80%;
        margin-top: -10px;
    }

    .dropdown_menu_icon{
        margin-left: auto;
    }

    .like_form_counts p{
        font-family: Roboto, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        color: #464e5b;
    }

    .related_question{
        background: white;
        margin-left: -10px;
    }

    .related_question p{
        margin-left: 10px;
        color: #26333b;
        font-size: 14px;
        line-height: 23px;
    }
    .answer_injection{
        margin-top: 20px;
    }
    .image_title_div{
        margin-left: 10px;
        margin-right: 5px;
        font-size: 14px;
        display: flex;
    }

    .image_title_div p{
        color: #272930;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 22px;
        margin-left: 10px;
    }

    .profile_image_popular{
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
    }
    .answer_count_popular_div p{
        margin-left: 30px;
        margin-top: -10px;
    }

    .profile_image_specific_nav{
        width: 100%;
        height: 150px;
    }

    .dropdown-menu{
        background: #266575;
    }

    .dropdown-menu a{
        color: white;
    }

    .delete-button{
        margin-left: auto;
    }

    .first-image{
        width: 200px;
        height: 200px;
        padding: 2px;
    }

    @media(max-width: 400px){
        .description{
            font-size: 10px;
        }

        .title{
            font-size: 15px;
        }

        .views_reply{
            font-size: 10px;
        }

        .first-image{
        width: 100px;
        height: 100px;
        padding: 1px;
        }
    }

    @media(max-width: 500px){
        .profile_image_specific_nav{
            width: 50%;
            height: 100px;

        }

        .dropdown_menu_icon{
            margin-top: -5px;
        }

        .dropdown button{
            font-size: 10px !important;
        }

        .first-image{
            width: 100px;
            height: 100px;
            padding: 1px;
        }
    }

    .answer_like{
        font-size: 13px;
    }

</style>

<div class="question-list-main-div">

    <div class="main_container">
        <div class="main_banner_div">
            
        </div>
        
        <div class="container question_main_div">
            <div class="row">
                <div class="col-xl-2 d-none d-sm-block d-lg-none d-xl-block d-md-none user_specific_nav">
                    {% include 'question_answer/_user_specific_nav.html' %}
                </div>
                <div class="col-xl-7 col-lg-8 col-md-9 question_feed shadow p-3 mb-5 bg-white">
                    <div class="question_injection">
                        {% include 'question_answer/_feed_detail_.html' %}
                    </div>
                    <div class="answer_injection">
                        {% include 'question_answer/_answer_feed_.html' %}  
                    </div>
                                      
                    
                </div>
                <div class="col-xl-3 col-lg-4 col-md-3 popular_Related_feed">
                    <div class="related_question">
                        <p><i class="fa fa-question-circle"></i>     Related Question</p>
                        <div class="related_question_feed">
                            {% if related_question %}
                            {% for related in related_question %}
                            <div class="image_title_div">
                                <div class="popular_profile_image">
                                    <a href=" {% url 'accounts:profile_detail' pk=related.user.userprofileinfo.pk %} ">
                                    {% if trends.user.userprofileinfo.profile_pic_user %}
                                    <img class="profile_image_popular" src=" {{related.user.userprofileinfo.profile_pic_user.url}} " alt="">
                                    {% else %}
                                    <img class="profile_image_popular" src="{% static 'preciousLife/images/default_profile_pic.png' %}" alt="">
                                    {% endif %}
                                    </a>
                                </div>
                                <a href="{% url 'questions_answer:question_detail' slug=related.slug %}"><p> {{related.title}} </p></a>
                            </div>
                            <div class="answer_count_popular_div">
                                <p class="views_reply"><i class="fa fa-envelope" aria-hidden="true"></i>    {{related.answer_set.count}} Answer{{related.answer_set.count|pluralize}}</p>
                            </div>
                            <hr>
                        {% endfor %}
                        {% else %}
                        <p>No related Question found</p>
                        {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        // like ajax
        $(document).ready(function(event){
            $(document).on('click', '#like', function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                $.ajax({
                    type:'POST',
                    url:'{% url "questions_answer:likes" question.slug %}',
                    data:{'question_id':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                    dataType:'json',
                    success:function(response){
                        $('#like-section').html(response['form'])
                        console.log($('#like-section').html(response['form']));
                    },
                    error:function(rs, e){
                        console.log(rs.responseText);
                    },
                });
            });
        });

        $(document).ready(function(event){
            $(document).on('click', '#like_answer', function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                const likeText = $(`.like${pk}`).text();
                const trim = $.trim(likeText)

                let res;
                const like_count = $(`.like_count_anser${pk}`).text();
                const trimCount = parseInt(like_count);
                $.ajax({
                    type: 'POST',
                    url: '{% url "questions_answer:answer_like" %}',
                    data:{'answer_id':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                    dataType:'json',
                    success:function(response){
                        // if(trim === "Dislike"){
                        //     $(`.like${pk}`).text("Like");
                        //     // res = trimCount - 1;
                        // }else{
                        //     $(`.like${pk}`).text("Dislike");
                        //     // res = trimCount + 1;
                        // }

                        if(response['isLiked']){
                            $(`.like${pk}`).find('i').removeClass('fa-heart-o');
                            $(`.like${pk}`).find('i').addClass('fa-heart');
                        }else{
                            $(`.like${pk}`).find('i').removeClass('fa-heart');
                            $(`.like${pk}`).find('i').addClass('fa-heart-o');
                        }

                        $(`.like_count_anser${pk}`).text(response['total_likes'] + " Likes");
                        
                    },
                    error:function(rs, e){

                    },
                });
            });
        });
    </script>

</div>

{% endblock %}
{% block title %}{{question.title}}{% endblock %}
