{% extends 'base.html' %}

{% block content %}
<style>
    #loader_submit {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        border-top: 16px solid blue;
        border-right: 16px solid green;
        border-bottom: 16px solid red;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<form method="POST">
{% csrf_token %}
{{form.as_p}}
<input type="submit" class="btn btn-danger" value="Submit">
</form>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Uploading Data....</h5>
        </div>
        <div class="modal-body">
            <div id="loader_submit"></div>
        </div>
      </div>
    </div>
  </div>
<script>
    $('form').submit(function(){
        $('#exampleModalCenter').modal().show();
    });
</script>
{% endblock %}