{% extends 'base.html' %}

{% block content %}

{% load hitcount_tags %}
<style>
    .profile_image{
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
    }

    .profile_username_div{
        display: flex;
    }
    .title_div{
        margin-left: 60px;
        margin-top: -20px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 22px;
        font-size: 19px;
    }

    .username {
        color: #2d6ff7;
        margin-left: 10px;
        line-height: 22px;
        letter-spacing: 0.8px;
    }

    .date{
        margin-left: 10px;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
    }

    
    .title_div a{
        text-decoration: none;
        color: #272930;
    }

    .title_div a:hover{
        text-decoration: none;
        color: #2d6ff7;
    }


    .discription_div{
        margin-left: 60px;
        
    }


    .discription_div span{
        color: #707885;
        font-size: 14px;
        line-height: 24px;
        text-align: start;
    }

    .question_images{
        width: 400px;
        height: 200px;
    }

    .tag_div{
        margin-left: 10px;
        margin-top: 5px;
    }

    .tag_list{
        list-style-type: none;
        overflow: hidden;
    }

    .tag_list_items{
        float: left;
        font-size: 11px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 22px;
        color: #7c7f85;
        margin-left: 10px;
        
    }

    .tag_list_items a{
        padding: 2px;
        border: 1px solid #d1d4cf;
        border-radius: 2px;
    }

    .tag_list_items a{
        text-decoration: none;
        color: #7c7f85;
    }

    .tag_list_items a:hover{
        background-color: #2d6ff7;
        color: white;
        border-radius: 2px;
        border: 1px solid #2d6ff7;
        border-radius: 2px;
    }

    .views_reply_div{
        display: flex;
        margin-left: 50px;
        background-color: #f5f5f5;
    }
    .views_reply{
        margin-left: 10px;
        font-size: 12px;
        color: #7c7f85;
        line-height: 15px;
        padding: 8px;
        margin-top: 10px;
        font-family: "Open Sans", Arial, sans-serif;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        border-radius: 2px;
    }

    .views_reply_anchor{
        font-family: Roboto, Arial, sans-serif;
        margin-right: 10px;
        font-size: 14px;
        line-height: 15px;
        padding: 8px;
        letter-spacing: 0.8px;
        border: 1px solid #272930;
        background-color: #272930;
        border-radius: 2px;
        color: white;
        margin-left: auto;
        margin-bottom: 10px;
    }

    .views_reply_anchor:hover{
        background-color: #2d6ff7;
        text-decoration: none;
        color: white;
        border: 1px solid #2d6ff7;
        border-radius: 2px;
    }

    .first-image{
        width: 200px;
        height: 200px;
        padding: 2px;
    }

    @media(max-width: 300px){
        .description{
            font-size: 10px;
        }

        .title{
            font-size: 15px;
        }

        .first-image{
        width: 200px;
        height: 200px;
        }
    }

    @media(max-width: 500px){
        .question_images_fields img{
        width: 200px;
        height: 200px;
        }
    }
</style>
<div class="question_list_feed container" id="question_list_feeds">
    {% for questions in questions %}

    <div class="profile_username_title_div">

         <div class="profile_username_div">
            <a href=" {% url 'accounts:profile_detail' pk=questions.user.userprofileinfo.pk %} ">
                {% if questions.user.userprofileinfo.profile_pic_user %}
                <img class="profile_image" src=" {{questions.user.userprofileinfo.profile_pic_user.url}} " alt="">
                {% else %}
                <img class="profile_image" src="https://static1.squarespace.com/static/54b7b93ce4b0a3e130d5d232/54e20ebce4b014cdbc3fd71b/5a992947e2c48320418ae5e0/1519987239570/icon.png?format=1500w" alt="">
                {% endif %}
            </a>
            <p class="username">@{{questions.user.username}}</p>
            <p class="date">Asked: {{questions.published_date}}</p>
    </div>

    <div class="title_div">
        <p><a href="{% url 'questions_answer:question_detail' slug=questions.slug %}"> {{questions.title}} </a></p>
    </div>

    <div class="discription_div">
        <span class="description">{{questions.description|urlizetrunc:35|linebreaks|truncatewords:30}}</span>
        <div class="question_images_fields">
            {% if questions.image_first %}
                <img class="first-image" id="image1" data-src="{{questions.image_first.url}}" alt="">
            {% endif %}

            {% if questions.image_second %}
            <img class="first-image" id="image2" data-src="{{questions.image_second.url}}" alt="">
            {% endif %}

            {% if questions.image_third %}
            <img class="first-image" id="image3" data-src="{{questions.image_third.url}}" alt="">
            {% endif %}
        </div>
        
    </div>

    <div class="tag_div">
        <ul class="tag_list">
            {% for tag in questions.tags.all %}
            <li class="tag_list_items">
                <a href=" {% url 'questions_answer:qa_tag' tag.slug %} ">{{tag}}</a>
            </li>
            {% endfor %}
        </ul>
      
    </div>

        <div class="views_reply_div">
            <p class="views_reply"><i class="fa fa-envelope" aria-hidden="true"></i>    {{questions.answer_set.count}} Answer{{questions.answer_set.count|pluralize}}</p>                     
       
            <p class="views_reply"><i class="fa fa-eye" aria-hidden="true"></i>    {% get_hit_count for questions %} Views</p>                         
        
            <a class="views_reply views_reply_anchor" href="#">Answer</a>
        
        </div>
    </div>
    <br>
    <hr>
    {% endfor %}
    <div class="pagination_class">
        {% if is_paginated  %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}"><i class="fa fa-chevron-left"></i></a>
                    {% endif %}

                    <span class="page-current">
                        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
    <script>

        // #####################################
        // LAZY LOAD IMAGES, USING THE LIBRARIES
        // #####################################

        let images = document.querySelectorAll('.first-image');
        new LazyLoad(images, {
            root: null,
            rootMargin: '-100px',
            threshold: 0.5
        });
    </script>
</div>

{% endblock %}
{% block title %}
Precious Lyfe
{% endblock %}

<!-- {% for question in questions %}
<p> {{question.title}} </p>
{% endfor %} -->