{% extends 'base.html' %}
{% block content %}

<style>
    .body_tag{
        background-image: radial-gradient(circle, #45adf3, #5c71b5, #3c4254);
    }

    .image_preview{
        width: 100%;
        height: 300px;
        border: 2px solid #dddddd;
        margin-top: 15px;
        display: flex;
        align-items: center;
        float: left;
        justify-content: center;
        font-weight: bold;
        color: #cccccc;
        margin-bottom: 10px;
    }

    .image_preview_image_tag1{
        display: none;
        width: 100%;
        height: 300px;
    } 

    .image_preview_image_tag2{
        display: none;
        width: 100%;
        height: 300px;
    } 

    .image_preview_image_tag3{
        display: none;
        width: 100%;
        height: 300px;
    } 


    .container_main{
        margin: 5% auto 0;
        background-color: white;
        margin-bottom: 10px;
    }

    .edit_profile_heading{
        text-align: center;
        color: #d10e0e9f;
        margin-bottom: 30px;
    }

    .container_second_main{
        margin-top: 1rem;
    }

    .question_title{
        width: 100%;
        border-radius: 20px;
        outline: none;
        border: 1px solid #999;
    }

    .question_tags{
        width: 100%;
        border-radius: 20px;
        outline: none;
        border: 1px solid #999;
    }

    .question_description{
        width: 100%;
        border-radius: 20px;
        outline: none;
        border: 1px solid #999;
    }
    .edit_profile_gender{
        width: 100%;
        border-radius: 20px;
        outline: none;
    }
    .confirm_button{
        color: #fff;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        font-size: 15px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        outline: none;
        background-color: #1c8abd;
    }

    #loader_submit {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        border-top: 16px solid blue;
        border-right: 16px solid green;
        border-bottom: 16px solid red;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

</style>

<div>
    <div class="container container_main">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <h2 class="edit_profile_heading">Create Question</h2>
                <div class="container_second_main">
                    <div class="form_div">
                        <form method="POST" enctype="multipart/form-data">
                            {{form.as_p}}
                            <p>You can post upto 3 images</p>
                            {% csrf_token %}
                            <input type="submit" class="confirm_button" value="Post"> 
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="image_preview" id="imagePreview1">
                    <img src="" alt="Image Preview" class="image_preview_image_tag1">
                    <span class="imagePreview__defaultText1">Image Preview</span>
                </div>

                <div class="image_preview" id="imagePreview2">
                    <img src="" alt="Image Preview" class="image_preview_image_tag2">
                    <span class="imagePreview__defaultText2">Image Preview</span>
                </div>

                <div class="image_preview" id="imagePreview3">
                    <img src="" alt="Image Preview" class="image_preview_image_tag3">
                    <span class="imagePreview__defaultText3">Image Preview</span>
                </div>
            </div>
    
        </div>
    
    </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Uploading Data....</h5>
                </div>
                <div class="modal-body">
                    <div id="loader_submit"></div>
                </div>
              </div>
            </div>
          </div>

    <script>

        $(document).ready(function(){
            $(".question_image").addClass("btn btn-success")
        }); 

        $('form').submit(function(){
            $('#exampleModalCenter').modal().show();
        });

        // first image
        const inputFile = document.getElementById("image_first");
        const previewContainer = document.getElementById("imagePreview1");
        const previewImage = previewContainer.querySelector(".image_preview_image_tag1");
        const previewDefaultText = previewContainer.querySelector(".imagePreview__defaultText1");

        inputFile.addEventListener("change", function(){
            const file = this.files[0];

            if(file){
                const reader = new FileReader();

                previewDefaultText.style.display = "none";
                previewImage.style.display = "block";

                reader.addEventListener("load", function(){
                    previewImage.setAttribute("src", this.result);
                });

                reader.readAsDataURL(file)
            }
        });

        // second image
        const inputFile2 = document.getElementById("image_second");
        const previewContainer2 = document.getElementById("imagePreview2");
        const previewImage2 = previewContainer2.querySelector(".image_preview_image_tag2");
        const previewDefaultText2 = previewContainer2.querySelector(".imagePreview__defaultText2");

        inputFile2.addEventListener("change", function(){
            const file = this.files[0];

            if(file){
                const reader = new FileReader();

                previewDefaultText2.style.display = "none";
                previewImage2.style.display = "block";

                reader.addEventListener("load", function(){
                    previewImage2.setAttribute("src", this.result);
                });

                reader.readAsDataURL(file)
            }
        });

        // third image
        const inputFile3 = document.getElementById("image_third");
        const previewContainer3 = document.getElementById("imagePreview3");
        const previewImage3 = previewContainer3.querySelector(".image_preview_image_tag3");
        const previewDefaultText3 = previewContainer3.querySelector(".imagePreview__defaultText3");

        inputFile3.addEventListener("change", function(){
            const file = this.files[0];

            if(file){
                const reader = new FileReader();

                previewDefaultText3.style.display = "none";
                previewImage3.style.display = "block";

                reader.addEventListener("load", function(){
                    previewImage3.setAttribute("src", this.result);
                });

                reader.readAsDataURL(file)
            }
        });
        
    </script>
</div>

{% endblock %}