{% load static %}
{% load notifications_tags %}
{% notifications_unread as unread_count %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    <!-- Order Matters -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

       <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

   <link rel="stylesheet" href="{% static 'accounts/css/master.css' %}">

   <!-- Load an icon library to show a hamburger menu (bars) on small screens -->

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <!-- google recaptcha -->
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<style>

    body{
        font-family: Roboto, Arial, sans-serif;
        background: #f2f2f2;
    }

    .background{
        background: #272930;
    }

    nav ul li a{
        color: white !important;
    }

    .nav-item:hover{
        background: black;
        transition: 0.5s !important;
        text-decoration: none;
        color: white;
        border-radius: 20px;
    }

    .navbar{
        background: #95ad9e;
    }

    .dropdown-menu{
        background: #266575;
    }

    .dropdown-menu li a{
        color: black !important;
    }

    #notification span{
        position: absolute;
        margin-left: -10px;
        background: red;
        margin-top: -8px;
        border-radius: 10px;
    }
    
    @media (max-width: 500px){

        footer{
            position: relative;
            background: #333333;
            height: 500px;
            margin-top: -500px;
            clear: both;
        }
        .mycontent{
            overflow: auto;
            padding-bottom: 500px;
        }
    }
</style>

<body class="body_tag">
    <!-- scroll to top button -->
    <div class="main_conatiner_base">
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

        <div class="navigationbar">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark background scrolling-navbar">
                <a class="navbar-brand" href=" {% url 'home' %} ">Navbar</a>
                <a class="navbar-brand" id="notification" href=" {% url 'notice:notice_list' %} "><i class="fa fa-bell-o" aria-hidden="true"></i>
                    {% if unread_count %}
                    <span class="badge"> {{unread_count}} </span>
                    {% endif %}
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-list ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item active">
                                <a class="nav-link" href=" {% url 'home' %} ">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=" {% url 'accounts:profile_detail' pk=user.userprofileinfo.pk %} ">About Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href=" {% url 'blog:blog_list' %} ">Blogs</a>
                            </li>
                            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'blog:blog_search' %}">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search for blogs" aria-label="Search" name="q">
                                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>

                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href=" {% url 'blog:blog_list' %} ">Blogs</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:register' %}">Sign Up</a>
                            </li>

                            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'blog:blog_search' %}">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search for blogs" aria-label="Search" name="q">
                                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        {% endif %}
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a class=" dropdown-toggle" data-toggle="dropdown" href="#">{{user.username}} </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{% url 'questions_answer:create' %}">New Question</a></li>
                                <li><a href=" {% url 'blog:create_blog' %} ">Create Blog</a></li>
                                <li><a href=" {% url 'accounts:profile_detail' pk=user.userprofileinfo.pk %} ">Profile</a></li>
                                <li><a href="{% url 'accounts:edit-profile' %}">Edit Profile</a></li>
                                <li><a href="{% url 'password_change' %}">Change Password</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a href="{% url 'accounts:logout' %}">Sign Out</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="messages">
            {% if messages %}
        
                {% for message in messages %}
        
                    <p class="alert alert-{{message.tags}}">{{message}}</p>
        
                {% endfor %}
        
            {% endif %}
        </div>

        <div class="loader" id=preloader>
        </div>

        <div class="mycontent">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <hr>
    <footer>
        
        <div class="container-fluid footer">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <h1 class="headings">LOGO</h1>

                </div>
                <div class="col-xl-4 col-lg-4">
                    <h3 class="headings">LINKS</h3>
                    <ul class="link-list">
                        <li><a href=" {% url 'home' %} ">Home</a></li>
                        <li><a href=" {% url 'about' %} ">About Us</a></li>
                        <li><a href=" {% url 'accounts:contact' %} ">Contact us</a></li>
                        <li><a href=" {% url 'privacy' %} ">Privacy Policy</a></li>
                        <li><a href=" {% url 'cookie' %} ">Cookie policy</a></li>
                        <li><a href=" {% url 'terms' %} ">Terms of use</a></li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <h3 class="headings">CONTACT US</h3>
                    <ul class="link-list">
                        <li>support@preciousLyfe.com</li>
                        <li><a href=" {% url 'accounts:contact' %} ">Contact us</a></li>
                        <li><a href=" {% url 'accounts:contact' %} ">Feedback</a></li>
                    </ul>
                </div>
            </div>
            <p style="color: white; text-align: center;">preciousLyfe</p>
            <p style="color: white; text-align: center; font-size: 11px;">All rights reserved <i class="fa fa-copyright"></i> 2020</p>
        </div>
    </footer>
    <script src=" {% static 'preciousLife/js/myJavaScript.js' %} "></script>
    <script>
        var loader = document.getElementById("preloader");

        window.addEventListener('load', function(){
            loader.style.display = 'none';
        });

        // Message dissapear after 3 sec
        setTimeout(fade_out, 3000);
        function fade_out(){
            $(".messages").fadeOut().empty();
        }

        // smooth scroll to top

        $(document).ready(function () {

            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#myBtn').fadeIn();
                } else {
                    $('#myBtn').fadeOut();
                }
            });

            $('#myBtn').click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
                return false;
            });

        });        
    </script>

</body>
</html>
