{% extends "base.html" %}
{% block content %}
{% load hitcount_tags %}

<style>

    .profile_image{
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
    }

    .profile_username_div{
        display: flex;
    }
    .title_div{
        margin-left: 60px;
        margin-top: -20px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 22px;
        font-size: 19px;
    }

    .username {
        margin-left: 10px;
        line-height: 22px;
        letter-spacing: 0.8px;
    }

    .date{
        margin-left: 10px;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
    }

    .discription_div{
        margin-left: 60px;
        
    }
    .discription_div span{
        color: #707885;
        font-size: 14px;
        line-height: 24px;
        text-align: start;
    }

    /* .carousel-inner{
        width: 200px !important;
    } */

    .question_images{
        width: 400px;
        height: 200px;
    }

    .tag_div{
        margin-left: 10px;
    }

    .tag_list{
        list-style-type: none;
        overflow: hidden;
    }

    .tag_list_items{
        float: left;
        font-size: 11px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 22px;
        color: #7c7f85;
        margin-left: 10px;
        
    }
    .tag_list_items a{
        padding: 2px;
        border: 1px solid #d1d4cf;
        border-radius: 2px;
    }

    .tag_list_items a{
        text-decoration: none;
        color: #7c7f85;
    }

    .tag_list_items a:hover{
        background-color: #2d6ff7;
        color: white;
        border-radius: 2px;
        border: 1px solid #2d6ff7;
        border-radius: 2px;
    }

    .views_reply_div{
        display: flex;
        margin-left: 50px;
        background-color: #f5f5f5;
    }
    .views_reply{
        margin-left: 10px;
        font-size: 12px;
        color: #7c7f85;
        line-height: 15px;
        padding: 8px;
        margin-top: 10px;
        font-family: "Open Sans", Arial, sans-serif;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        border-radius: 2px;
    }

    .views_reply_anchor{
        font-family: Roboto, Arial, sans-serif;
        margin-right: 10px;
        font-size: 14px;
        line-height: 15px;
        padding: 8px;
        letter-spacing: 0.8px;
        border: 1px solid #272930;
        background-color: #272930;
        border-radius: 2px;
        color: white;
        margin-left: auto;
        margin-bottom: 10px;
    }

    .views_reply_anchor:hover{
        background-color: #2d6ff7;
        text-decoration: none;
        color: white;
        border: 1px solid #2d6ff7;
        border-radius: 2px;
    }

    @media(max-width: 300px){
        .description{
            font-size: 10px;
        }

        .title{
            font-size: 15px;
        }
    }

    /* popular_feed styling */
    .trending_tags{
       margin-left: -10px;
       background-color: white;
    }
    .trending_heading{
        margin-left: 10px;
    }

    .tags_name{
        margin-left: 10px;
        padding: 10px;
    }

    .tags_name li{
        list-style: none;
        display: inline;
    }

    .tags_name li a {
        font-size: 11px;
        color: #7c7f85;
        text-decoration: none;
        padding: 4px;
        border: 1px solid #7c7f85;
        border-radius: 2px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 30px;
    }
    .tags_name li a:hover {
        font-size: 11px;
        color: white;
        text-decoration: none;
        padding: 4px;
        border: 1px solid #2d6ff7;
        background: #2d6ff7;
        border-radius: 2px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 30px;
    }
    .popular_question{
        margin-top: 10px;
        margin-left: -10px;
        background: white;
    }
    .image_title_div{
        margin-left: 10px;
        margin-right: 5px;
        font-size: 14px;
        display: flex;
    }

    .image_title_div p{
        color: #272930;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 22px;
        margin-left: 10px;
    }
    .profile_image_popular{
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
    }
    .answer_count_popular_div p{
        margin-left: 30px;
        margin-top: -10px;
    }

    /* .views_reply_div a{
        margin-left: auto;
    } */

</style>

<div class="messages">
    {% if messages %}

        {% for message in messages %}

            <p class="alert alert-{{message.tags}}">{{message}}</p>

        {% endfor %}

    {% endif %}
</div>


<div class="main_container">
    <div class="main_banner_div">
        
    </div>
    
    <div class="container question_main_div">
        <div class="row">
            <div class="col-xl-2 col-lg-3 d-md-none d-lg-none d-lg-block user_specific_nav related_question">

            </div>
            <div class="col-xl-7 col-lg-6 col-md-9 shadow p-3 mb-5 bg-white">
                {% include 'question_answer/_feed_.html' %}
                                
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 popular_feed">
                <div class="trending_tags">
                    <div class="trending_heading">
                        <p><i class="fa fa-tags"></i>       Trending Tags</p>
                    </div>
                    <div class="tags_name"> 
                        {% for tags in popular_tags %}   
                        <li><a href="{% url 'questions_answer:qa_tag' tags.slug %}">{{tags}}</a></li>
                        {% endfor %}
                    </div>
                </div>
                <div class="popular_question">
                    <div class="trending_heading">
                        <p>Popular Question</p>
                    </div>
                    <div class="popular_questions_feed">
                    {% for trends in trending_question %}
                        <div class="image_title_div">
                            <div class="popular_profile_image">
                                <a href=" {% url 'accounts:profile_detail' pk=trends.user.userprofileinfo.pk %} ">
                                {% if trends.user.userprofileinfo.profile_pic %}
                                <img class="profile_image_popular" src=" {{trends.user.userprofileinfo.profile_pic.url}} " alt="">
                                {% else %}
                                <img class="profile_image_popular" src="https://static1.squarespace.com/static/54b7b93ce4b0a3e130d5d232/54e20ebce4b014cdbc3fd71b/5a992947e2c48320418ae5e0/1519987239570/icon.png?format=1500w" alt="">
                                {% endif %}
                                </a>
                            </div>
                            <a href="{% url 'questions_answer:question_detail' slug=trends.slug %}"><p> {{trends.title}} </p></a>
                        </div>
                        <div class="answer_count_popular_div">
                            <p class="views_reply"><i class="fa fa-envelope" aria-hidden="true"></i>    {{trends.answer_set.count}} Answers</p>
                        </div>
                        <hr>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

<!-- {% for questions in object_list %}
<a href="{% url 'questions_answer:question_detail' slug=questions.slug %}">
    <p class="question_list_div">{{ questions.title }}</p>
    <p class="question_list_div">{% get_hit_count for questions %}</p>
</a> -->
<!-- <hr>
{% endfor %} -->